<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>分享与第三方接入.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>808A44001D8CF88C009D2A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808A44191D8CF88C009D2A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>808A44241D8CF88C009D2A65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
